# Pandas Data Analysis Exercise

Download [Chipotle Dataset](https://github.com/subashgandyer/datasets/blob/main/chipotle.tsv) to walkthrough this exercise

### Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter

# set this so the 
%matplotlib inline

### Read the dataset into a dataframe

In [2]:
url = 'https://raw.githubusercontent.com/subashgandyer/datasets/main/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Display the first few samples

In [3]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Find out how many number of samples in the dataset

In [9]:
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

### Find out how many number of features in the dataset

In [12]:
chipo.keys()

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### What are the feature names in the dataset

### Which was the most-ordered item?

### Long way: Groupby item_name, Sum, Sort on quantity, Display in descending order

### Concise Pythonic way solution

### For the most-ordered item, how many items were ordered?

### What was the most ordered item in the choice_description column?

### How many items were orderd in total?

### Convert the item price into a float

### Long and slow way: Writing a function to convert item price to float and then apply it over dataframe

#### Check the item price type

#### Create a function to convert the item price into float

#### Reset the converstion back to string to try lambda function conversion

In [4]:
chipo = pd.read_csv("https://raw.githubusercontent.com/subashgandyer/datasets/main/chipotle.tsv", sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### Create a lambda function and change the type of item price

#### Check the item price type

### Complex

### How much was the revenue for the period in the dataset?

### How many orders were made in the period?

### Another way

### What is the average revenue amount per order?

### How many different items are sold?

In [5]:
url = 'https://raw.githubusercontent.com/subashgandyer/datasets/main/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### How many products cost more than $10

### Sort by item name

### What is the quantity of the most expensive order?

### How many times a Veggie Salad Bowl ordered?

### How many items more than one canned soda is ordered?

### Create a Histogram of top items bought

### Seaborn plot

In [6]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

### Create a Scatterplot to show the number of items ordered with respect to item price